## 01 Class exercise slicing dataframe
Use this data:
```python
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
```
1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)  
`pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])`  

``` 
     Col1 Col2 col3  
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')
```

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [3]:
#Exercise 1


import pandas as pd
import numpy as np

#1.1
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
data_frame = pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])
#2.1
print(data_frame['Col2'])
#2.2
print(data_frame.iloc[:,2])
#2.3
print(data_frame.iloc[2,1:2])

ModuleNotFoundError: No module named 'pandas'

## 02 Exercise Pandas Data Series
The CO2 Emission data set above is not updated since 2014
1. Create a Pandas Series with emission data from 2014 for each country or region
2. Find the 10 Countries/Regions with the highest emissions in 2014 and show emission numbers (reverse sorted)
3. Remove if you can those rows that are not countries (regions and aggregated groups) (hint:  [ISO 3166, Alpha-3 country codes](https://www.iban.com/country-codes), a csv file can be found here: `/data/country_codes.csv`)
    - Find the 10 countries with highest emissions in 2014
4. Plot the emissions of China and USA over time respectively

In [27]:
#Exercise 2
import requests
import zipfile

codes = pd.read_csv('/home/jovyan/data/country_codes.csv', sep='\t', header=None)[2]
#print(codes)
#1.1
data = pd.read_csv('./API_EN.ATM.CO2E.KT_DS2_en_csv_v2_3642506.csv', skiprows=4)
#1.2
data[['Country Name', '2014','Country Code']].sort_values('2014',ascending=False)[:10]
#2.3
#codes = codes.iloc[:,2]
codes = codes.str.strip()
#print(codes);
data[data['Country Code'].isin(codes)].sort_values('2014',ascending=False)[['Country Name', '2014','Country Code']][:10]

           Country Name       2014 Country Code
40                China  9894940.0          CHN
251       United States  5102580.0          USA
109               India  2136870.0          IND
202  Russian Federation  1606860.0          RUS
119               Japan  1219820.0          JPN
55              Germany   737490.0          DEU
112  Iran, Islamic Rep.   610670.0          IRN
126         Korea, Rep.   586000.0          KOR
35               Canada   561830.0          CAN
205        Saudi Arabia   536810.0          SAU

In [1]:
#Week Exercise

data = pd.read_csv('FOLK1A.csv', sep=';')

#What is the change in pct. of divorced danes from 2008 to 2020?
print('**Opgave 1A**')
fraskilt_data = data[['TID','OMRÅDE','CIVILSTAND','INDHOLD']]
fraskilt_data = fraskilt_data [fraskilt_data['CIVILSTAND']=='Fraskilt']
fraskilt_data = fraskilt_data[fraskilt_data['OMRÅDE'] == 'Hele landet']
fraskilt_data = fraskilt_data[fraskilt_data['TID'].isin(['2008K1','2020K1'])]
divorced2020 = fraskilt_data.iloc[1].INDHOLD
divorced2008 = fraskilt_data.iloc[0].INDHOLD
print(divorced2008)
print(divorced2020)
percentage_inc = ((divorced2020/divorced2008)-1)*100
print("The divorce percentage has increased by:", percentage_inc,"% when comparing 2008 to 2020.")
#/old_data
#gl_data = fraskilt_data[fraskilt_data['TID']=='2008K1']
#ny_data = fraskilt_data[fraskilt_data['TID']=='2022K1']
#ny_data = ny_data.INDHOLD

#Which of the 5 biggest cities has the highest percentage of 'Never Married' in 2020?
top_fem = data [['TID','OMRÅDE','CIVILSTAND','INDHOLD']]
top_fem = top_fem[top_fem['OMRÅDE'].isin(['København','Aarhus','Esbjerg','Odense','Aalborg'])]
top_fem = top_fem[top_fem['CIVILSTAND'].isin(['I alt','Ugift'])]
top_fem = top_fem[top_fem['TID']=='2020K1'].sort_values('OMRÅDE',ascending=False)
#print(top_fem)
ugift_odense = top_fem.iloc[1].INDHOLD/top_fem.iloc[0].INDHOLD
ugift_kbh = top_fem.iloc[3].INDHOLD/top_fem.iloc[2].INDHOLD
ugift_esbjerg = top_fem.iloc[5].INDHOLD/top_fem.iloc[4].INDHOLD 
ugift_aarhus = top_fem.iloc[7].INDHOLD/top_fem.iloc[6].INDHOLD
ugift_aalborg = top_fem.iloc[9].INDHOLD/top_fem.iloc[8].INDHOLD
print('**Opgave 1B**') 
print(ugift_kbh*100,'% af København er ugift')
print(ugift_aarhus*100,'% af Aarhus er ugift')
print(ugift_aalborg*100,'% af Aalborg er ugift')
print(ugift_odense*100,'% af Odense er ugift')
print(ugift_esbjerg*100,'% af Esbjerg er ugift')
print('København har flest ugifte i første kvartal af 2020')

NameError: name 'pd' is not defined